In [1]:
# Importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
# Importing the dataset
data = pd.read_csv('50_Startups.csv')
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [12]:
X = data.drop('Profit', axis=1)
y = data['Profit']

In [13]:
X.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [7]:
# Encoding categorical data

In [20]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), ['State'])], remainder='passthrough')

In [41]:
cols = sorted(X['State'].unique()) + list(X.columns[:-1])
X = pd.DataFrame(ct.fit_transform(X), columns=cols)

In [42]:
X.head()

   California  Florida  New York  R&D Spend  Administration  Marketing Spend
0         0.0      0.0       1.0  165349.20       136897.80        471784.10
1         1.0      0.0       0.0  162597.70       151377.59        443898.53
2         0.0      1.0       0.0  153441.51       101145.55        407934.54
3         0.0      0.0       1.0  144372.41       118671.85        383199.62
4         0.0      1.0       0.0  142107.34        91391.77        366168.42

In [43]:
# Splitting the data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=0)

In [47]:
# Training the model
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(X_train, y_train)

LinearRegression()

In [48]:
y_pred = linreg.predict(X_test)

In [50]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.934706847328222