In [1]:
# Importing the libraries
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
# Importing the data

In [3]:
df = pd.read_csv('Churn_Modelling.csv')
df.drop(['RowNumber','CustomerId','Surname'], axis=1, inplace=True)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# Encoding the "Gender" column
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Gender'] = pd.DataFrame(le.fit_transform(df['Gender']))
df = df.rename(columns={'Gender':'Male'})
df.head()

,CreditScore,Geography,Male,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [5]:
col_list = list(df.columns)
col_list.remove('Geography')
col_list = ['France','Germany','Spain'] + col_list

# Encoding the Geography column
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct  = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
df = pd.DataFrame(ct.fit_transform(df.values), columns=col_list)

In [6]:
df.head()

,France,Germany,Spain,CreditScore,Male,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,0,0,619,0,42,2,0,1,1,1,101349,1
1,0,0,1,608,0,41,1,83807.9,1,0,1,112543,0
2,1,0,0,502,0,42,8,159661,3,1,0,113932,1
3,1,0,0,699,0,39,1,0,2,0,0,93826.6,0
4,0,0,1,850,0,43,2,125511,1,1,1,79084.1,0

In [8]:
# Splitting the dataset into training and test sets
from sklearn.model_selection import train_test_split
X = df.drop('Exited', axis=1).values
y = df['Exited'].values
y = np.asarray(y).astype(int) # this is to convert the y from object to array

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=0)

In [9]:
# Feature scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [172]:
# BUILDING THE ARTIFICIAL NEURAL NETWORK

In [10]:
ann = tf.keras.models.Sequential() # The sequential class creates the ANN as a sequence of layers

In [11]:
# Adding layers
# the way to add a fully connected layer is to use the Dense class

# input layer and 1st hidden layer
# units = number of neurons; there is no rule for this choice
# activation = 'relu' is the retifier actiovation functions
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

# second hidden layer
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

# output layer
# if the classification had a non-binary value (e.g., three classes) 
#we need more dimensions (e.g., three classes = three dimensions) for the 
#output layer, and the activation must be softmax
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

In [12]:
# TRAINING THE ANN

In [13]:
ann.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
# optimizer: the adam optimizer uses stochastic gradient descent
# loss: for binary classification, the loss function must always be binary_crossentropy
# for non-binary classification: categorical_crossentropy
# metrics: we can choose several metrics at the same time
# the most essential one is accuracy

In [14]:
ann.fit(X_train, y_train, batch_size=32, epochs=100)
# batch_size: number of predictions in the batch for comparison
# classic value = 32
# epochs: don't use small results

Epoch 1/100
250/250 [==============================] - 1s 887us/step - loss: 0.6268 - accuracy: 0.6879
Epoch 2/100
250/250 [==============================] - 0s 843us/step - loss: 0.4836 - accuracy: 0.7907
Epoch 3/100
250/250 [==============================] - 0s 871us/step - loss: 0.4536 - accuracy: 0.7904
Epoch 4/100
250/250 [==============================] - 0s 876us/step - loss: 0.4184 - accuracy: 0.8044
Epoch 5/100
250/250 [==============================] - 0s 873us/step - loss: 0.4182 - accuracy: 0.8064
Epoch 6/100
250/250 [==============================] - 0s 857us/step - loss: 0.4051 - accuracy: 0.8164
Epoch 7/100
250/250 [==============================] - 0s 847us/step - loss: 0.3971 - accuracy: 0.8234
Epoch 8/100
250/250 [==============================] - 0s 830us/step - loss: 0.3982 - accuracy: 0.8325
Epoch 9/100
250/250 [==============================] - 0s 859us/step - loss: 0.3743 - accuracy: 0.8417
Epoch 10/100
250/250 [==============================] - 0s 845us/step - loss: 0.3586 - accuracy: 0.8494
Epoch 11/100
250/250 [==============================] - 0s 890us/step - loss: 0.3560 - accuracy: 0.8535
Epoch 12/100
250/250 [==============================] - 0s 876us/step - loss: 0.3517 - accuracy: 0.8577
Epoch 13/100
250/250 [==============================] - 0s 863us/step - loss: 0.3603 - accuracy: 0.8478
Epoch 14/100
250/250 [==============================] - 0s 847us/step - loss: 0.3510 - accuracy: 0.8535
Epoch 15/100
250/250 [==============================] - 0s 879us/step - loss: 0.3330 - accuracy: 0.8633
Epoch 16/100
250/250 [==============================] - 0s 854us/step - loss: 0.3450 - accuracy: 0.8548
Epoch 17/100
250/250 [==============================] - 0s 963us/step - loss: 0.3381 - accuracy: 0.8639
Epoch 18/100
250/250 [==============================] - 0s 887us/step - loss: 0.3296 - accuracy: 0.8709
Epoch 19/100
250/250 [==============================] - 0s 898us/step - loss: 0.3396 - accuracy: 0.8641
Epoch 20/100
250/250 [==============================] - 0s 970us/step - loss: 0.3378 - accuracy: 0.8634
Epoch 21/100
250/250 [==============================] - 0s 983us/step - loss: 0.3401 - accuracy: 0.8648
Epoch 22/100
250/250 [==============================] - 0s 972us/step - loss: 0.3508 - accuracy: 0.8505
Epoch 23/100
250/250 [==============================] - 0s 881us/step - loss: 0.3443 - accuracy: 0.8555
Epoch 24/100
250/250 [==============================] - 0s 841us/step - loss: 0.3444 - accuracy: 0.8575
Epoch 25/100
250/250 [==============================] - 0s 937us/step - loss: 0.3301 - accuracy: 0.8626
Epoch 26/100
250/250 [==============================] - 0s 775us/step - loss: 0.3307 - accuracy: 0.8686
Epoch 27/100
250/250 [==============================] - 0s 871us/step - loss: 0.3428 - accuracy: 0.8633
Epoch 28/100
250/250 [==============================] - 0s 787us/step - loss: 0.3402 - accuracy: 0.8579
Epoch 29/100
250/250 [==============================] - 0s 858us/step - loss: 0.3469 - accuracy: 0.8580
Epoch 30/100
250/250 [==============================] - 0s 940us/step - loss: 0.3344 - accuracy: 0.8628
Epoch 31/100
250/250 [==============================] - 0s 880us/step - loss: 0.3390 - accuracy: 0.8620
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3260 - accuracy: 0.8708
Epoch 33/100
250/250 [==============================] - 0s 899us/step - loss: 0.3374 - accuracy: 0.8619
Epoch 34/100
250/250 [==============================] - 0s 993us/step - loss: 0.3317 - accuracy: 0.8640
Epoch 35/100
250/250 [==============================] - 0s 930us/step - loss: 0.3331 - accuracy: 0.8623
Epoch 36/100
250/250 [==============================] - 0s 871us/step - loss: 0.3429 - accuracy: 0.8606
Epoch 37/100
250/250 [==============================] - 0s 843us/step - loss: 0.3280 - accuracy: 0.8662
Epoch 38/100
250/250 [==============================] - 0s 852us/step - loss: 0.3227 - accuracy: 0.8672
Epoch 39/100
250/250 [==============================] - 0s 979us/step - loss: 0.3420 - accuracy: 0.8581
Epoch 40/100
250/250 [==============================] - 0s 949us/step - loss: 0.3332 - accuracy: 0.8643
Epoch 41/100
250/250 [==============================] - 0s 873us/step - loss: 0.3291 - accuracy: 0.8603
Epoch 42/100
250/250 [==============================] - 0s 840us/step - loss: 0.3353 - accuracy: 0.8624
Epoch 43/100
250/250 [==============================] - 0s 777us/step - loss: 0.3465 - accuracy: 0.8570
Epoch 44/100
250/250 [==============================] - 0s 783us/step - loss: 0.3339 - accuracy: 0.8595
Epoch 45/100
250/250 [==============================] - 0s 774us/step - loss: 0.3374 - accuracy: 0.8601
Epoch 46/100
250/250 [==============================] - 0s 779us/step - loss: 0.3506 - accuracy: 0.8547
Epoch 47/100
250/250 [==============================] - 0s 800us/step - loss: 0.3367 - accuracy: 0.8616
Epoch 48/100
250/250 [==============================] - 0s 786us/step - loss: 0.3278 - accuracy: 0.8713
Epoch 49/100
250/250 [==============================] - 0s 786us/step - loss: 0.3315 - accuracy: 0.8639
Epoch 50/100
250/250 [==============================] - 0s 793us/step - loss: 0.3314 - accuracy: 0.8674
Epoch 51/100
250/250 [==============================] - 0s 787us/step - loss: 0.3385 - accuracy: 0.8604
Epoch 52/100
250/250 [==============================] - 0s 789us/step - loss: 0.3217 - accuracy: 0.8696
Epoch 53/100
250/250 [==============================] - 0s 843us/step - loss: 0.3270 - accuracy: 0.8621
Epoch 54/100
250/250 [==============================] - 0s 804us/step - loss: 0.3207 - accuracy: 0.8699
Epoch 55/100
250/250 [==============================] - 0s 784us/step - loss: 0.3401 - accuracy: 0.8578
Epoch 56/100
250/250 [==============================] - 0s 777us/step - loss: 0.3237 - accuracy: 0.8671
Epoch 57/100
250/250 [==============================] - 0s 840us/step - loss: 0.3238 - accuracy: 0.8676
Epoch 58/100
250/250 [==============================] - 0s 855us/step - loss: 0.3332 - accuracy: 0.8650
Epoch 59/100
250/250 [==============================] - 0s 882us/step - loss: 0.3272 - accuracy: 0.8651
Epoch 60/100
250/250 [==============================] - 0s 837us/step - loss: 0.3422 - accuracy: 0.8579
Epoch 61/100
250/250 [==============================] - 0s 838us/step - loss: 0.3265 - accuracy: 0.8645
Epoch 62/100
250/250 [==============================] - 0s 815us/step - loss: 0.3274 - accuracy: 0.8649
Epoch 63/100
250/250 [==============================] - 0s 838us/step - loss: 0.3451 - accuracy: 0.8557
Epoch 64/100
250/250 [==============================] - 0s 770us/step - loss: 0.3313 - accuracy: 0.8598
Epoch 65/100
250/250 [==============================] - 0s 817us/step - loss: 0.3397 - accuracy: 0.8591
Epoch 66/100
250/250 [==============================] - 0s 844us/step - loss: 0.3470 - accuracy: 0.8560
Epoch 67/100
250/250 [==============================] - 0s 792us/step - loss: 0.3317 - accuracy: 0.8647
Epoch 68/100
250/250 [==============================] - 0s 791us/step - loss: 0.3391 - accuracy: 0.8592
Epoch 69/100
250/250 [==============================] - 0s 816us/step - loss: 0.3431 - accuracy: 0.8589
Epoch 70/100
250/250 [==============================] - 0s 783us/step - loss: 0.3330 - accuracy: 0.8637
Epoch 71/100
250/250 [==============================] - 0s 783us/step - loss: 0.3292 - accuracy: 0.8654
Epoch 72/100
250/250 [==============================] - 0s 781us/step - loss: 0.3258 - accuracy: 0.8656
Epoch 73/100
250/250 [==============================] - 0s 800us/step - loss: 0.3448 - accuracy: 0.8562
Epoch 74/100
250/250 [==============================] - 0s 796us/step - loss: 0.3283 - accuracy: 0.8662
Epoch 75/100
250/250 [==============================] - 0s 750us/step - loss: 0.3297 - accuracy: 0.8684
Epoch 76/100
250/250 [==============================] - 0s 773us/step - loss: 0.3325 - accuracy: 0.8640
Epoch 77/100
250/250 [==============================] - 0s 764us/step - loss: 0.3324 - accuracy: 0.8647
Epoch 78/100
250/250 [==============================] - 0s 784us/step - loss: 0.3396 - accuracy: 0.8586
Epoch 79/100

250/250 [==============================] - 0s 887us/step - loss: 0.3399 - accuracy: 0.8567
Epoch 80/100
250/250 [==============================] - 0s 914us/step - loss: 0.3412 - accuracy: 0.8617
Epoch 81/100
250/250 [==============================] - 0s 840us/step - loss: 0.3262 - accuracy: 0.8666
Epoch 82/100
250/250 [==============================] - 0s 877us/step - loss: 0.3435 - accuracy: 0.8609
Epoch 83/100
250/250 [==============================] - 0s 789us/step - loss: 0.3442 - accuracy: 0.8598
Epoch 84/100
250/250 [==============================] - 0s 858us/step - loss: 0.3436 - accuracy: 0.8594
Epoch 85/100
250/250 [==============================] - 0s 783us/step - loss: 0.3271 - accuracy: 0.8647
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3268 - accuracy: 0.8656
Epoch 87/100
250/250 [==============================] - 0s 796us/step - loss: 0.3256 - accuracy: 0.8710
Epoch 88/100
250/250 [==============================] - 0s 905us/step - loss: 0.3265 - accuracy: 0.8670
Epoch 89/100
250/250 [==============================] - 0s 757us/step - loss: 0.3315 - accuracy: 0.8619
Epoch 90/100
250/250 [==============================] - 0s 794us/step - loss: 0.3401 - accuracy: 0.8589
Epoch 91/100
250/250 [==============================] - 0s 879us/step - loss: 0.3269 - accuracy: 0.8683
Epoch 92/100
250/250 [==============================] - 0s 824us/step - loss: 0.3246 - accuracy: 0.8670
Epoch 93/100
250/250 [==============================] - 0s 925us/step - loss: 0.3408 - accuracy: 0.8586
Epoch 94/100
250/250 [==============================] - 0s 796us/step - loss: 0.3358 - accuracy: 0.8605
Epoch 95/100
250/250 [==============================] - 0s 746us/step - loss: 0.3231 - accuracy: 0.8713
Epoch 96/100
250/250 [==============================] - 0s 839us/step - loss: 0.3299 - accuracy: 0.8638
Epoch 97/100
250/250 [==============================] - 0s 856us/step - loss: 0.3210 - accuracy: 0.8691
Epoch 98/100
250/250 [==============================] - 0s 750us/step - loss: 0.3289 - accuracy: 0.8652
Epoch 99/100
250/250 [==============================] - 0s 802us/step - loss: 0.3439 - accuracy: 0.8614
Epoch 100/100
250/250 [==============================] - 0s 916us/step - loss: 0.3154 - accuracy: 0.8735

In [15]:
# MAKING PREDICTIONS

In [16]:
# predict:
# Geography: France
# Credit score: 600
# Gender: Male
# Age: 40
# Tenure: 3
# Balance: 60000
# Number of products: 2
# Has credit card: yes
# Is an active member: yes
# Estimated salary: 50000
# Should the customer leave the bank?

In [17]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

[[False]]

In [18]:
# Predicting the test set results
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

In [20]:
# Metrics
from sklearn.metrics import confusion_matrix, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(accuracy_score(y_test,y_pred))

[[1507   88]
 [ 192  213]]
0.86